{% extends 'base.html' %}
{% block content %}
<div class="header min-size">
    <div class="header-content">
        <div class="header-title">
            <h1 class="big-header-title mb-4">{{ header_title }}</h1>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <div class="club-info-wrapper d-flex justify-content-center">
        <div class="club-info col-11 col-xs-10 col-md-8">
            <div class="club-info-inner d-flex flex-row">
                {% if club.logo %}
                <img class="club-logo col-5 col-xl-6 shadow img-fluid rounded-4 me-md-5"
                     src="{{ club.logo.url }}" alt="{{ club.name }}">
                {% else %}
                <img class="club-logo col-5 col-xl-6 shadow img-fluid rounded-4 me-md-5"
                     src="/static/default-logo.jpg" alt="{{ club.name }}">
                {% endif %}
                <div class="col-7 col-xl-6 mb-lg-5 ps-5 px-md-5 pt-3 pb-md-5 pb-3 d-flex flex-column justify-content-between">
                    <div>
                        <h5>{{ club.sort }}</h5>
                        <h1 class="fw-normal">{{ club.name }}</h1>
                    </div>
                    <h6>대표자 : {{ club.manager|default_if_none:"OOO" }} ({{ club.manager_call|default_if_none:"010-0000-0000" }})</h6>
                    {% if club.tag %}
                    <h6> {{ club.tag }}</h6>
                    {% else %}
                    <h6>#{{ club.name }} #{{ club.sort }}</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="recruit-info-wrapper">
        <div class="recruit-info">
            <div class="recruit-info-item">
                <i class="bi bi-calendar-date"></i>
                <div class="recruit-info-detail">
                    <h6>모집시기</h6>
                    {% if club.recruit_period %}
                    <p>{{ club.recruit_period }}</p>
                    {% else %}
                    <p>미결</p>
                    {% endif %}
                </div>
            </div>
            <div class="recruit-info-item">
                <i class="bi bi-people"></i>
                <div class="recruit-info-detail">
                    <h6>모집인원</h6>
                    {% if club.recruit_number %}
                    <p>{{ club.recruit_number }}</p>
                    {% else %}
                    <p>미결</p>
                    {% endif %}
                </div>
            </div>
            <div class="recruit-info-item">
                <i class="bi bi-pencil"></i>
                <div class="recruit-info-detail">
                    <h6>모집방식</h6>
                    {% if club.recruit_way %}
                    <p>{{ club.recruit_way }}</p>
                    {% else %}
                    <p>미결</p>
                    {% endif %}
                </div>
            </div>
            <div class="recruit-info-item">
                <i class="bi bi-watch"></i>
                <div class="recruit-info-detail">
                    <h6>활동기간</h6>
                    {% if club.activity_period %}
                    <p>{{ club.activity_period }}</p>
                    {% else %}
                    <p>미결</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if club.introduction %}
    <div class="d-flex flex-column align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h5 class="text-center mb-3 fw-bold">소개</h5>
            <p class="px-5">{{ club.introduction }}</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}