{% extends 'base.html' %}
{% block content %}
<div class="header min-size">
    <div class="header-content">
        <div class="header-title">
            <h1 class="big-header-title mb-4">{{ header_title }}</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="club-section col-12 col-md-10">
        <form id="search-form" class="search-form" method="GET">
            <select name="sort" id="sort" class="dropdown" onchange="this.form.submit()">
                <option value="">전체</option>
                {% if dropdown_selected == '학회' %}
                <option value="학회" selected>학회</option>
                {% else %}
                <option value="학회">학회</option>
                {% endif %}
                {% if dropdown_selected == '소모임' %}
                <option value="소모임" selected>소모임</option>
                {% else %}
                <option value="소모임">소모임</option>
                {% endif %}
            </select>
            <div class="search">
                <i class="search-icon bi bi-search"></i>
                <input class="search-input" type="text" name="search" placeholder="검색" autocomplete="off" />
            </div>
        </form>
        <div class="club-list">
            {% if club_list %}
            {% for club in club_list %}
            <div class="club-item" onclick="location.href='{% url 'club_search:club_detail' club.id %}'">
                {% if club.logo %}
                <img src="{{ club.logo.url }}" alt="{{ club.name }}">
                {% else %}
                <img src="/static/default-logo.jpg" alt="{{ club.name }}">
                {% endif %}
                <h2>{{ club.name }}</h2>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}