{% extends 'base.html' %}
{% block content %}
<div class="container-fluid px-0">
    <div class="header">
        <div class="header-content">
            <div class="header-title">
                <h2 class="small-header-title">나에게 딱 맞는</h2>
                <h1 class="big-header-title">동아리를 찾아보세요!</h1>
            </div>
            <form class="search-form" action="{% url 'club_search:club_list_all' %}" method="GET">
                <i class="search-icon bi bi-search"></i>
                <input class="search-input" type="text" name="search" placeholder="검색" autocomplete="off" />
            </form>
        </div>
    </div>
    <div class="landing">
        <div class="intro">
            <p>갓 입학한 <span>새내기</span>도 🐣</p>
            <p>전역한 <span>복학생</span>도 🫡</p>
            <p>졸업이 아쉬운 <span>고학번</span>도 🤦‍️</p>
            <p>내가 들어가고 싶은 <span class="highlight">동아리</span>의 정보를 한눈에!</p>
        </div>
    </div>
</div>
{% endblock %}