.search-form {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 15px;
    color:rgba(6, 13, 16, 0.5);
}

.search-name {
    color: rgba(6, 13, 16, 0.5);
}

.search-input {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(6, 13, 16, 0.5);
    border-radius: 20px;
    text-align: center;
    width: 300px;
}

.header-content .search-form {
    margin: auto;
    width: 400px;
}

.header-content .search-input {
    width: 400px;
}

.club-section .search-form {
    width: 300px;
    margin-left: auto;
    margin-top: 15px;
}

@media screen and (max-width: 992px) {
    .club-section .search-form {
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    .club-section .search-form {
        width: 200px;
    }
}
