.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.dropdown {
    padding: 5px 10px;
    border: 1px solid rgba(6, 13, 16, 0.3);
    border-radius: 8px;
    color: rgba(6, 13, 16, 0.7);
}

.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 15px;
    color:rgba(6, 13, 16, 0.5);
}

.search-name {
    color: rgba(6, 13, 16, 0.5);
}

.search-input {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(6, 13, 16, 0.3);
    border-radius: 20px;
    color: rgba(6, 13, 16, 0.7);
    text-align: center;
    width: 100%;
}

.header-content .search {
    margin: auto;
    width: 400px;
}

@media screen and (max-width: 576px) {
    .header-content .search {
        width: 300px;
    }
}

.header-content .search-input {
    width: 400px;
}

.club-section .search {
    width: 300px;
    margin-left: auto;
}

@media screen and (max-width: 992px) {
    .club-section .search {
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    .club-section .search {
        width: 200px;
    }
}

@media screen and (max-width: 576px) {
    .club-section .search-form {
        padding: 10px;
    }

    .club-section .search {
        width: 200px;
    }
}
