html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    padding-bottom: 200px;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

.intro p {
    font-size: 40px;
    font-weight: 200;
}

@media screen and (max-width: 768px) {
    .intro p {
        font-size: 30px;
    }
}

@media screen and (max-width: 576px) {
    .intro p {
        font-size: 25px;
    }
}

.intro span {
    font-weight: 400;
}

.intro span.highlight {
    color: #389583;
}

.club-list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: auto;
	grid-gap: 20px;
	padding: 50px 30px;
}

.club-item {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 15px;
	cursor: pointer;
	padding: 15px;
}

.club-item img {
	width: 100%;
	height: auto;
	border-radius: 25px;
	margin-bottom: 20px;
}

.club-item h2 {
    font-size: 25px;
	text-align: center;
	font-weight: 400;
}

@media screen and (max-width: 1200px) {
	.club-list {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 992px) {
	.club-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 576px) {
	.club-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

.club-info .club-logo {
    object-fit: cover;
}

.recruit-info-wrapper {
    margin-top: 40px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.recruit-info {
    grid-column: 3 / span 8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .recruit-info-wrapper {
        grid-template-columns: repeat(24, 1fr);
    }

    .recruit-info {
        grid-column: 2 / span 21;
    }
}

.recruit-info .recruit-info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DFE6CB;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.recruit-info-item i {
    font-size: 35px;
}

.recruit-info-detail h6 {
    font-weight: bold;
    margin-bottom: 5px;
}

.recruit-info-detail p {
    margin-bottom: 0px;
}