<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">EDU:CLUB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if navbar_active == '홈' %} active {% endif %}" href="{% url 'index' %}">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if navbar_active == '사범대학' %} active {% endif %}" href="{% url 'club_search:edu_group' %}">사범대학</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if navbar_active == '컴퓨터교육과' %} active {% endif %}" href="{% url 'club_search:com_edu' %}">컴퓨터교육과</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if navbar_active == '교육학과' %} active {% endif %}" href="{% url 'club_search:edu' %}">교육학과</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if navbar_active == '수학교육과' %} active {% endif %}" href="{% url 'club_search:math_edu' %}">수학교육과</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if navbar_active == '한문교육과' %} active {% endif %}" href="{% url 'club_search:han_edu' %}">한문교육과</a>
                </li>
            </ul>
        </div>
    </div>
</nav>